<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>
<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>
<p>
  <strong>Description:</strong>
  <%= @restaurant.phone_number %>
</p>
<p>
  <strong>Stars:</strong>
  <%= @restaurant.category %>
</p>
<!-- <p>
  <strong>Reviews</strong>
  <% #@restaurant.reviews.each do |r| %>
    <%#= r.content %> |
  <% #end %>
</p> -->
<p>Learn more about the <%= link_to "chef", chef_restaurant_path(@restaurant) %></p>
<p><%= link_to "Leave a review", new_restaurant_review_path(@restaurant)  %></p>
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
